@media (prefers-color-scheme: dark) {
    :root {
      /* HTML CARDS */
      --cards: rgba(189, 189, 189, 0.2);

       /* FARVER */
      --background: #29282a;
      --screen: #49454F;
      --btn: #202A44;

      --header: #202A44;
      --section: #b3b3b30d;

      --font: #E6E1E5;
    }  

    body {
      background: var(--background);
    }

    .nav-menu.active {
      background-color: hwb(194 12% 75% / 0.8);
    }

    .schoolProjects__links {
      color: white;
    }

    h1, h2, h3, h4, h5, p, li, a, figcaption {
      color: var(--font);
    } 
  
    .bar {
      background-color: var(--font);
    }
    .bar {
      background-color: var(--font);
    }

  /* HTML OVERVIEW PAGE */
  .html__items {
    background-color: var(--cards);
    height: 250px;
  }

  .card {
    background-color: var(--screen);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  }

  /* - - - - javascript - - - -  */

  td {
    color: var(--font);
  }

  table {
    border: thin solid #808080;
  }

  .ui-ux__link {
    border-bottom: thin solid white;
  }

    /* DESIGN PRINCIPPER */
    .gestalt {
      background-color: var(--screen);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
  
    .proximity {
      background-color: var(--screen);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
  
    .similarity {
      background-color: var(--screen);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
  }