@media (prefers-color-scheme: dark) {
    :root {
      --btn: #002b55;
      --background: linear-gradient(#0F2027, #203A43, #2C5364);
      --secondary-background: #203A43;
      --header: #002b55;
      --section: #b3b3b34a;
    }  

    body {
      background: var(--background)no-repeat;
      background-color: lightgray;
      min-height: 100vh;
      margin: 1rem;
    }

    .nav-menu.active {
      background-color: hwb(194 12% 75% / 0.8);
    }

    .schoolProjects__links {
      color: white;
    }

    footer p {
      color: white;
    }

    /* - - - - FORSIDE TEKST - - - - - */
  .welcome__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    margin: 1rem;
  }

.welcome__header {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 3rem; 
    color: #faeceb;
  }

.welcome__body {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #faeceb;
  }

  /* - - - - - forside - - - - - */

  .welcome__Button {
    background-color: var(--btn);
    color: #deded9;
    border: none;
    border-radius: 44px;
    font-weight: bold;
    width: 7rem;
    padding: .5rem;
    cursor: pointer;
    box-shadow: 1px 8px 32px 1px #141e307a;
    font-weight: bold;
    font-family: 'Roboto Slab';
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
  }


.welcome__Button:hover {
    box-shadow: 0 1px 30px #4286f4;
    transition-duration: .1s;
  }

.welcome__rectangel {
    background-color: var(--header);
    height: 80vh;
    position: absolute;
    width:171px;
    border-radius:0px 72px 72px 0px;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

.circle {
    background: conic-gradient(from 180deg, #ce8172, #b97467, #a5675b);
    height: 110px;
    width: 110px;
    border-radius: 50%;
    box-shadow: 0px 3px 12px 0 var(--section);
  }
  }