@media (prefers-color-scheme: dark) {
    :root {
      /* HTML CARDS */
      --cards: rgba(189, 189, 189, 0.2);

       /* FARVER */
      --background: #29282a;
      --neutral: #49454F;
      --btn: #202A44;

      --header: #202A44;
      --section: #b3b3b30d;

      --font: #E6E1E5;
    }  

    body {
      background: var(--background);
    }

    .nav-menu.active {
      background-color: hwb(194 12% 75% / 0.8);
    }

    .schoolProjects__links {
      color: white;
    }

    h1, h2, h3, h4, h5, p, li, a, figcaption {
      color: var(--font);
    } 
  
    .bar {
      background-color: var(--font);
    }
    .bar {
      background-color: var(--font);
    }

    .welcome {
      background: var(--neutral);
    }

    /* - - - - FORSIDE TEKST - - - - - */

  .welcome__header {
    color: var(--font);
  }

  .welcome__body {
    color: var(--font);
  }

  /* - - - - - forside - - - - - */

  .welcome__Button {
    background-color: var(--btn);
    color: var(--font);
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
  }


  .welcome__Button:hover {
    box-shadow: 0 2px 6px 2px #141e307a;
    transition-duration: .1s;
  }

  .welcome__rectangel {
    background-color: var(--header);
  }

.circle {
    background: conic-gradient(from 180deg, #485563, #29323c);
    height: 110px;
    width: 110px;
    border-radius: 50%;
    box-shadow: 0px 3px 12px 0 var(--section);
  }

  /* HTML OVERVIEW PAGE */
  .html__items {
    background-color: var(--cards);
    height: 250px;
  }

  /* - - - - javascript - - - -  */
  .td-b {
    color: var(--font);
  }

  .ui-ux__link {
    border-bottom: thin solid white;
  }
  }