@media (prefers-color-scheme: light) {
:root {
  /* Cards */
  --cards: #E7E0EC; 

  /* FARVER */
  --background: #ede3d8;
  --screen: rgba(216, 226, 237, 0.6);

  --btn: #918936;

  --header: #918936;
  --section: rgba(103, 46, 46, 0.6); 

  --font10: #1C1B1F;
}
  .nav-menu.active {
    background-color: hsla(2, 54%, 61%, 0.9);
  }

  body {
    background: var(--background);
  }

  h1, h2, h3, h4, h5, p, li, a, figcaption {
    color: var(--font10);
  } 

  .bar {
    background-color: var(--font10);
  }

  /* - - - - - forside tekst - - - - - */

  .welcome {
    background: var(--screen);
  }
  
  .welcome__body {
    font-weight: 400;
  }

  /* - - - - - forside - - - - - */

  .welcome__Button {
    background-color: var(--btn);
    color: white;
  }

  .welcome__Button:hover {
    box-shadow: 0 2px 6px 2px lightgray;
    transition-duration: .1s;
  }

  .welcome__rectangel {
    background-color: var(--header);
  }

  .circle {
    background: conic-gradient(from 180deg, #83664b, #745a42, #664f3a);
  }

  /* - - - - - HTML OVERVIEW PAGE - - - - - */
  .card {
    background-color: var(--cards);
  }

  .ui-ux__link {
    border-bottom: thin solid black;
  }

  /* DESIGN PRINCIPPER */
  .gestalt {
    background-color: ;
  }

  .proxmity {
    background-color: ;
  }

  .similarity {
    background-color: ;
  }
}

