@media (prefers-color-scheme: light) {
:root {
  /* Cards */
  --cards: #E7E0EC; 

  /* FARVER */
  --background: #FFFBFE;
  --neutral-variant90: #E7E0EC;

  --btn: #D2564A;

  --header: #D2564A;
  --section: rgba(103, 46, 46, 0.24); 

  --font10: #1C1B1F;
}
  .nav-menu.active {
    background-color: hsla(2, 54%, 61%, 0.9);
  }

  body {
    background: var(--background);
    margin: 1rem;
  }

  p {
    color: var(--font10);
  }

  h1 {
    color: var(--font10);
  }

  h2 {
    color: var(--font10);
  }

  a {
    color: var(--font10);
  }


  .bar {
    background-color: var(--font10);
  }

  /* - - - - - forside tekst - - - - - */

  .welcome {
    background: var(--neutral-variant90);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    max-width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 6rem;
    height:80vh;
    width:80%;
    margin: 3rem auto;
  }

  .welcome__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    margin: 1rem;
  }

.welcome__header {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem; 
  }

  
.welcome__body {
    font-weight: 400;
    color: #faeceb;
  }

  /* - - - - - forside - - - - - */

  .welcome__Button {
    background-color: var(--btn);
    color: white;
    border: none;
    border-radius: 1rem;
    width: 7rem;
    padding: .5rem;
    cursor: pointer;
    font-family: 'Roboto Slab';
    transition: all .5s;
  }

  .welcome__Button:hover {
    box-shadow: 0 2px 6px 2px lightgray;
    transition-duration: .1s;
  }

.welcome__rectangel {
    background-color: var(--header);
    height: 80vh;
    position: absolute;
    width:171px;
    border-radius:0px 72px 72px 0px;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

.circle {
    background: conic-gradient(from 180deg, #ce8172, #b97467, #a5675b);
    height: 110px;
    width: 110px;
    border-radius: 50%;
    box-shadow: 0px 3px 12px 0 var(--section);
  }

  /* HTML OVERVIEW PAGE */
  .card {
    background-color: var(--cards);
    height: 250px;
  }

}

