@media (prefers-color-scheme: light) {
:root {
  /* Cards */
  --cards: #E7E0EC; 

  /* FARVER */
  --background:  #f7f9f9 ;
  --screen: rgb(229, 228, 226);

  --btn: #7e7373;

  --section: rgba(103, 46, 46, 0.6); 

  --font10: #1C1B1F;
}
  .nav-menu.active {
    background-color: hsla(2, 54%, 61%, 0.9);
  }

  body {
    background: var(--background);
  }

  h1, h2, h3, h4, h5, p, li, a, figcaption {
    color: var(--font10);
  } 

  .bar {
    background-color: var(--font10);
  }

  /* - - - - - HTML OVERVIEW PAGE - - - - - */
  .card {
    background-color: var(--cards);
  }

  .ui-ux__link {
    border-bottom: thin solid black;
  }

  /* DESIGN PRINCIPPER */
  .gestalt {
    background-color: var(--screen);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  .proximity {
    background-color: var(--screen);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  .similarity {
    background-color: var(--screen);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  /* - - - - JAVASCRIPT - - - - - */
  table {
    border: thin solid black;
  }
}

