@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;700&family=Roboto+Slab:wght@200;400;500;800&display=swap');

/* ROOT */
:root {
  /* - - - - - Regular - - - - - */
  --background-section: rgba(189, 189, 189, 0.2); 

  /* - - - - - FONT COLORS - - - - - */
  --primary-fontColor: #FAECEB;
}

/* Reset default style */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem;
  max-width: 1440px;
}

.nav-logo {
  width: 44px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-fontColor);
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
  list-style-type: none;
}

.nav-link{
  font-size: 16px;
  font-weight: 400;
  color: white;
  transition: all 1s ease;
}

.nav-link:hover{
  color: black;
}

h1 {
  font-family: 'Hanken Grotesk', sans-serif;
  color: var(--primary-fontColor);
} 

h2 {
  color: var(--primary-fontColor);
  font-size: 20px;
}

p {
  font-family: 'Roboto Slab', serif;
}

a {
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  color: var(--primary--font);
}

.welcome {
  background: var(--background-section);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(189, 189, 189, 0.3);
  max-width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border-radius: 6rem;
  height:80vh;
  width:80%;
  margin: 3rem auto;
}


/* - - - - - NAV - - - - - */


/* Footer */
footer {
  display: flex; 
  justify-content: center;
  gap: 1rem;
}

.socialMedia--img {
  width: 1.5rem;
} 

/* PORTFOLIO SIDE */
.schoolProjects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.schoolProjects__figures {
  border: thin #c0c0c0 solid;
  border-radius: 12px;
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
  width: calc(100% / 3 - (2rem / 3) - 2px);
  height: 280px;
}

.schoolProjects__figures:hover {
  opacity: .8;
}

.schoolProjects__images {
  height: -webkit-fill-available;
  object-fit: cover;
  height: 250px;
  border-radius: 12px;
}

figcaption {
  padding: 3px;
  place-self: center;
  text-align: center;
}


/* - - - - - HTML PAGE - - - - - */
.html__overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: center;
}

.html__items {
  background-color: var(--background-section);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* - - - - - SLIDER/CARUSSEL - - - - - */

.carussel--text {
  padding-top: .5rem;
  padding-left: 2.6rem;
}

.slider--header {
  margin-bottom: .5rem;
}

.carussel--header {
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.slider-wrapper {
  margin-top: .5rem;
  position: relative;
  overflow: hidden;
}
  
.slides-container {
  height: calc(100vh / 2);
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}
  
.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}
  
.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}
  
.slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}
  
.slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}
  
.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  scroll-snap-align: start;
}
  
.slide:nth-child(1) {
  background-color: #49b293;
}
  
.slide:nth-child(2) {
  background-color: #b03532;
}
  
.slide:nth-child(3) {
  background-color: #6a478f;
}
  
.slide:nth-child(4) {
  background-color: #da6f2b;
}


/* codepen */

.counter--header {
  margin-bottom: .5rem;
}

.codepen {
  margin-bottom: 2rem;
}

/* - - - - - MEDIA QUERIES - - - - - */
@media screen and (min-width:325px) and (max-width: 700px) {

  .welcome__header {
    font-size: 40px;
  }

  .welcome__rectangel {
    visibility: hidden;
  }

  .welcome__Button {
    width: 7rem;
    padding: .5rem;
  }

  .welcome {
    height: 80vh;
    width: 80%;
    border-radius: 12px;
  }

  /* - - - - - NAV - - - - - */

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
      float: right;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }

  /* - - - - - PORTFOLIO - - - - - */

  .schoolProjects {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  .schoolProjects__figures {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .schoolProjects__images {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
  
}

@media screen and (min-width:701px) and (max-width: 901px){

  .welcome__header {
    font-size: 40px;
  }

  .welcome__rectangel {
    visibility: hidden;
  }

  .welcome__Button {
    width: 7rem;
    padding: .5rem;
  }

  .welcome {
    height: 80vh;
    width: 80%;
    border-radius: 12px;
  }

  /* - - - - - NAV - - - - - */

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
      float: right;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }

  /* - - - - - PORTFOLIO - - - - - */

  .schoolProjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  .schoolProjects__figures {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .schoolProjects__images {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
  
}