@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;700&family=Roboto+Slab:wght@200;400;500;800&display=swap');

/* ROOT */
:root {
  /* - - - - - Regular - - - - - */
  --background-section: rgba(189, 189, 189, 0.2); 

  /* - - - - - FONT COLORS - - - - - */
  --primary-fontColor: #FAECEB;
}

/* Reset default style */
* {
  margin: 0;
  padding: 0;
}

.nav-logo {
  width: 44px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-fontColor);
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
  list-style-type: none;
}

.nav-link{
  font-size: 16px;
  font-weight: 400;
  color: white;
  transition: all 1s ease;
}

h1 {
  font-family: 'Hanken Grotesk', sans-serif;
  color: var(--primary-fontColor);
} 

h2 {
  font-family: 'Hanken Grotesk', sans-serif;
  color: var(--primary-fontColor);
  font-size: 20px;
}

p {
  font-family: 'Roboto Slab', serif;
}

a {
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  color: var(--primary-fontColor);
  cursor: pointer;
}

.welcome {
  background: var(--background-section);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  max-width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 6rem;
  height:80vh;
  width:80%;
  margin: 3rem auto;
}


/* Footer */
footer {
  display: flex; 
  justify-content: center;
  gap: 1rem;
}

.socialMedia--img {
  width: 1.5rem;
} 

/* PORTFOLIO SIDE */
.project--largeHeader {
  margin-bottom: 1rem;
}

.project--header {
  grid-row-start: 1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  margin-bottom: 1rem;
}
  
.project {
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
.projects__link {
  margin-top: .2rem;
  font-weight: 500;
}
  
.projects__image {
  max-width: 100%;
}


/* - - - - - HTML PAGE - - - - - */

.flipcard__body {
  text-align: left;
  margin: .5rem;
}

.flipcard__header {
  margin: .5rem;
}

.flipcard__headerTop {
  margin: 7rem;
}

.flipcard {
  background-color: transparent;
  perspective: 1000px;
}

.flipcard__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flipcard:hover .flipcard__inner {
  transform: rotateY(180deg);
}

.flipcard__front, .flipcard__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipcard__front {
  background-color: var(--background-section);
  color: black;
}

.flipcard__back {
  background-color: var(--background-section);
  color: var(--primary-fontColor);
  transform: rotateY(180deg);
}

/* - - - - - - - - - - - - - */

.html__overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: center;
}

.html__items {
  background-color: var(--background-section);
  height: 250px;
}

/* codepen */
.js--largerHeader {
margin-bottom: .5rem;
}

.js--text {
  color: var(--primary-fontColor);
  margin-bottom: 1rem;
}

.js--header {
  margin-bottom: .5rem;
}

.codepen {
  margin-bottom: 1rem;
}

/* - - - - - MEDIA QUERIES - - - - - */
@media screen and (min-width:325px) and (max-width: 700px) {

  .welcome__header {
    font-size: 40px;
  }

  .welcome__rectangel {
    visibility: hidden;
  }

  .welcome__Button {
    width: 7rem;
    padding: .5rem;
  }

  .welcome {
    height: 80vh;
    width: 95%;
    border-radius: 12px;
  }

  /* - - - - - NAV - - - - - */

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
      float: right;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }

  /* - - - - - PORTFOLIO - - - - - */

  .project--largeHeader {
    margin-bottom: 1rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects__image {
    max-width: 100%;
  }

  .projects__link {
    margin: 0;
  }

}

@media screen and (min-width:701px) and (max-width: 901px){

  .welcome__header {
    font-size: 40px;
  }

  .welcome__rectangel {
    visibility: hidden;
  }

  .welcome__Button {
    width: 7rem;
    padding: .5rem;
  }

  .welcome {
    height: 80vh;
    width: 95%;
    border-radius: 12px;
  }

  /* - - - - - NAV - - - - - */

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
      float: right;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }

  /* - - - - - PORTFOLIO - - - - - */

  .project--largeHeader {
    margin-bottom: 1rem;
  }
  
  .project--header {
    grid-row-start: 1;
  }
  
  .projects {
    display: grid;
    grid-template-columns: 50% 50%;    
  }
    
  .rowA {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .rowB {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .rowC {
    grid-column-start: 1;
    grid-row-start: 3;
  }
    
  .projects__image {
    max-width: 100%;
    height: 100%;
  }

}