@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;700&family=Roboto+Slab:wght@200;400;500;800&display=swap');

/* ROOT */
:root {
  /* - - - - - NIGHT - - - - - */
  --night-btn: #002b55;
  --darkmode-background: linear-gradient(150deg,#330867 0%, #394b9f 44.84%, #8172ce 72.74%, #b490ca 100%);
  --night-header: #002b55;
  --night-section: #b3b3b34a;

  /* - - - - - DAY - - - - - */
  --day-btn: #672e2e;
  --lightmode-background: linear-gradient(150deg, #f46b45, #ff6e7f, #ddd6f3);
  --day-header: #672e2e;
  --day-section: rgba(103, 46, 46, 0.24); 
  --primary--font: #FAECEB;
}

/* Reset default style */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem;
}

h1 {
  font-family: 'Hanken Grotesk', sans-serif;
} 

p {
  font-family: 'Roboto Slab', serif;
}

a {
  font-family: 'Roboto Slab', serif;
}

img {
  display: block;
  margin: auto;
  width: 25%;
}

h2 {
  text-align: center;
  color: orangered;
}

/* - - - - - NAV - - - - - */

.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
} 

.nav__items {
  list-style: none;
}

.nav__links {
  text-decoration: none;
  color: white;
}

.nav__links:hover {
  border-bottom: 2px solid white;
  padding: .6rem;
  font-weight: 600;
}

/* Footer */
footer {
  display: flex; 
  justify-content: center;
  gap: 1rem;
}

.socialMedia--img {
  width: 1.5rem;
} 

.welcome {
  background: rgba(189, 189, 189, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(189, 189, 189, 0.3);
  max-width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border-radius: 6rem;
  height:80vh;
  width:80%;
  margin: 3rem auto;
}