@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;700&family=Roboto+Slab:wght@200;400;500;800&display=swap');

/* ROOT */
:root {
  /* - - - - - NIGHT - - - - - */
  --night-btn: #002b55;
  --darkmode-background: linear-gradient(150deg,#330867 0%, #394b9f 44.84%, #8172ce 72.74%, #b490ca 100%);
  --night-header: #002b55;
  --night-section: #b3b3b34a;

  /* - - - - - DAY - - - - - */
  --day-btn: #672e2e;
  --lightmode-background: linear-gradient(150deg, #D66562, #F17D78, #FFB2AB);
  --day-header: #672e2e;
  --day-section: rgba(103, 46, 46, 0.24); 
  --primary--font: #FAECEB;
}